body {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 100%;
}

#pedal {
  color: #f44336;
  float: left;
  width: 30%;
  margin-left: 10px;
  margin-right: 10px;
}

#speed {
  color: blue;
  float: left;
  width: 30%;
  margin-left: 10px;
  margin-right: 10px;
}

#rpm {
  color: #4CAF50;
  float: left;
  width: 30%;
  margin-left: 10px;
  margin-right: 10px;
}


