body {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 50vh;
}
